<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="usuario.length > 0; else sinUsuarios">
    <ion-item *ngFor="let usu of usuario">
      <ion-label>
        <h2>{{ usu.nombreUsuario }}</h2>
        <p><strong>ID:</strong> {{ usu.idUsuario }}</p>
        <p><strong>Rol:</strong> {{ usu.idRol }}</p>
        <p><strong>Nombre:</strong> {{ usu.nombreUsuario }}</p>
        <p><strong>Estado:</strong> {{ usu.estadoUsuario ? 'Activo' : 'Inactivo' }}</p>
        <p><strong>Creado:</strong> {{ usu.fechaCreacionUsuario | date:'short' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #sinUsuarios>
    <p>No hay usuarios registrados.</p>
  </ng-template>
</ion-content>
