<ion-toolbar class="nabvar">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

  <ion-title>Mi App-ionic</ion-title>

  <ion-buttons slot="end">
    <!-- Botón de cambio de tema -->
    <ion-button (click)="toggleTheme()">
      <ion-icon slot="icon-only" [name]="isDarkMode ? 'sunny-outline' : 'moon-outline'"></ion-icon>
    </ion-button>

    <!-- Avatar pequeño -->
    <ion-avatar class="small-avatar">
      <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  </ion-buttons>
</ion-toolbar>
