.example-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.app-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ion-content {
  flex: 1;
  overflow: auto;
}
