/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

// Tema oscuro
body.dark {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;
  --ion-toolbar-background: #1f1f1f;
  --ion-item-background: #1f1f1f;
  --scroll-bg-blue: #b14ceb; /* azul más oscuro para tema oscuro */
  --custom-text-color: #cac0c0;
}

:root {
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  --scroll-bg-blue: #6918c5; /* azul para tema claro */
  --custom-text-color: #fcf8f8;
}
.small-avatar {
  width: 28px;
  height: 28px;
  margin-left: 2px; /* Espacio entre el ícono y el avatar */
  margin-right: 10px;
}

.small-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chip-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Para centrar verticalmente */
}

.scroll-background {
  min-height: 100%;
  max-width: 100%;
  padding: 16px;

  background: linear-gradient(
    to bottom,
    #a801db 0%,
    #470275 40vh,
    var(--ion-background-color) 40vh,
    var(--ion-background-color) 100%
  );

  background-repeat: no-repeat;
  background-size: 100% 100vh;  /* importante para que el degradado no se escale raro */
}
.nabvar{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
}
ion-tab-bar{
  border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    box-shadow: 0 2px 12px rgba(24, 24, 24, 0.507);
}

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';
